* {
  box-sizing: border-box;
}

body {
    background: #FEFEFE url('../images/crowd1.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a { color: #FFF; 
    text-decoration: none;
  
}


/*------------------------------------*\
    $GRID
\*------------------------------------*/

.t1     { width:1% }
.t2     { width:2% }
.t10    { width:10% }
.t12    { width:14% }
.t20    { width:20% }
.t25    { width:25% }       /* 1/4 */
.t30    { width:30% }
.t32    { width:32% }
.t33    { width:33.33333% }   /* 1/3 */
.t40    { width:40% }
.t50    { width:50% }       /* 1/2 */
.t60    { width:60% }
.t64    { width:64% }
.t66    { width:66.66666% }   /* 2/3 */
.t70    { width:70% }
.t75    { width:75% }       /* 3/4*/
.t80    { width:80% }
.t90    { width:90% }
.t100   { width:100% }

h1, h2 {
    font-weight: 400;
    color: #FFF;
    font-size: 36px;
    text-align: center;
}

h3 {
  font-weight: 400;
    color: #FFF;
    font-size: 36px;
    text-align: center;
    
}



.button {
    border: 2px solid #FFF;
    padding: 10px 15px;
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    margin: 5px 0px;
}

header {
    background-color: rgba(53, 59, 73, 0.8);
    min-height: 250px;
    position: relative;
}

header .logo {
    background: url('../images/logo.svg?1');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    width: 816px;
    height: 200px;
    position: relative;
    left: 50%;
    margin-left: -408px;
}

header .video {
    position: relative;
    left: 50%;
    margin-left: -320px;
    width: 640px;
    height: 320px;
}

.vjs-default-skin .vjs-big-play-button,
.vjs-default-skin .vjs-big-play-button:hover {
    box-shadow: none;
}

.content {
    background: #FFF;
    overflow: auto;
    text-align: center;
}

.about, .gallery, .schedule, .team {
    padding: 20px 35px;
    text-align: left;
    display: inline-block;
}
.about h1 {
    color: #000;
    padding: 0px;
    text-align: left;
    margin: 10px 0px;
}
.about p, .schedule p {
    line-height: 28px;
}

.gallery {
    margin-bottom: 40px;
}
.gallery h1, .schedule h1, .team h1 {
    color: #000;
    padding: 0px;
    text-align: left;
    margin: 10px 0px;
}
.gallery a {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    float: left;
    margin: 5px;
}
.gallery a img {
    min-height: 100%;
    max-height: 150%;
    min-width: 100%;
}


.schedule table {
    border: 1px solid #DADDDF;
    padding: 0px;
    margin: 10px 0px 0px 0px;

    overflow: hidden;
    
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    
    border-bottom-width: 0px;
}
.schedule .pod-title {
    background: #eee;
}
.schedule tr {
    padding: 0px;
}
.schedule td {
    padding: 8px;
    border-bottom: 1px solid #DADDDF;
}
.schedule td:nth-child(even) {
    border-left: 1px solid #DADDDF;
}


.team {
    font-size: 0px;
    padding: 20px 5px;
    margin: 20px 0px;
    color: #111;
    text-align: center;
}
.team h1 {
    margin-left: 1%;
}
.team h2 {
    color: #111;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 10px;
}
.team-member {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    font-size: 15px;
    position: relative;
}
.team-member span {
    display: block;
    position: absolute;
    bottom: 3px;
    right: 0px;
    padding: 10px;
    background: rgba(0,0,0,.5);
    color: #FFF;    
}

.vectors {
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    font-size: 15px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.vectors span {
    display: block;
    position: absolute;
    bottom: 3px;
    right: 0px;
    padding: 10px;
    background: rgba(0,0,0,.5);
    color: #FFF;    
}

.winner-image {
    display: inline-block;
    vertical-align: middle;
}
.winner-span {
    vertical-align: middle;
    display: inline-block;
    padding-left:20px;
}



.register {
    overflow: auto;
    position: relative;
}
.register-strip {
    height: 200px;
    overflow: hidden;
}
.register-strip.bottom { height: 300px; }
.register-image {
    float: left;
    overflow: hidden;
    height: 100%;
}
.register-image img {
    width: 100%;
    margin-top: -20px;
}
.register-content {
    float: left;
    height: 100%;
    background: #F6F6F6;
}
.register-content .header {
    background: #EE6539;
    min-height: 200px;
    float: left;
    text-align: center;
    padding: 40px 15px;
}
.register-content .header h1 {
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF;
    font-size: 36px;
    text-align: center;
    padding: 20px 50px 10px;
    margin: 0px;
}
.register-content .header .date {
    display: block;
    color: #FEFEFE;
    padding: 20px 20px 30px 20px;
}

.register-content h2,
.register-content h1 {
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}

.register-content form {
    left: 25%;
    display: block;
    position: relative;
}
.register-content label {
    display: block;
}
.register-content label span {
    display: block;
    padding: 5px 0px;
}
.register-content form input,
.register-content form textarea {
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    margin-bottom: 21px;
    margin-left: 0px;
    padding: 14px;
    outline: none;
}

.register-content form input:focus,
.register-content form textarea:focus {
    border: 1px solid #AAA;
}

.register-content form textarea {
    min-height: 100px;
}

.register-content form .checkboxes div {
    display: inline-block;
}

.register-content form input[type=submit] {
    background: #FFF;
}

.register-content form textarea.red {
    border-color: #FF0000;
}


.countdown {
    font-size: 50px;
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: #FEFEFE;
}
.countdown .subtitle {
    display: block;
    font-size: 25px;
}


footer {
    background: rgba(53, 59, 73, 0.8);
    padding: 30px 0px 0px;
    text-align: center;
}

footer .sablogo {
    width: 160px;
    margin-bottom: 30px;
}
footer .copy {
    overflow: auto;
    background: #424650;
    font-size: 13px;
    padding: 10px;
    color: #FEFEFE;
}
footer .copy .copy-right {
    float: right;
}
footer .copy .copy-left {
    float: left;
}


@media only screen and (max-width: 1024px) {
    body {
        background-size: auto 500px;
    }
    header {

    }
    header .logo {
        width: 700px;
        height: 172px;
        margin-left: -350px;
    }
    header .video {
        position: relative;
        left: 50%;
        margin-left: -240px;
        width: 480px;
        height: 240px;
    }
    header .video video {
        width: 480px;
        height: 240px;
    }
    .about {
        width: 60%;
    } 
    .gallery {
        width: 40%;
    }
    .team-member { width: 33%; }
    
    .register-strip {
        height: 285px;
    }
    .register-strip img {
        width: auto;
        min-width: 100%;
        height: 285px;
    }
    .register-strip.bottom img {
        height: auto;
    }
    .winner-image {
        width: 100%;
    }
    .winner-span {
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 640px) {
    .about, 
    .register, 
    .gallery, 
    .register-content, 
    .register-image, 
    .schedule,
    .register-content .header {
        width: 100%;
    }
    p { font-size: 19px }
    .gallery {
        padding: 10px 30px;
    }
    body {
        background-size: auto 300px;
    }
    header {
        min-height: 75px;
    }
    header .logo {
        background: url('../images/logo.svg?1');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        width: 320px;
        height: 100px;
        position: relative;
        left: 50%;
        margin-left: -160px;
    }
    
    header .video {
        position: relative;
        left: 50%;
        margin-left: -150px;
        width: 300px;
        height: 150px;
    }
    header .video video {
        width: 300px;
        height: 150px;
    }
    
    .register-strip {
        height: auto;
    }
    .register-strip.bottom { display: none; }
    
    .team-member { width: 50%; }
    
    .register-content form {
        left: 10%;
        width: 80%;
    }
    
    .register-content form .checkboxes div {
        display: block;
    }
    
    .team h1 { text-align: center; }

    .countdown {
        font-size: 30px;
        padding: 15px;
        top: 80px;
    }
    .countdown .subtitle {
        font-size: 20px;
    }
    .countdown #countdown {
        padding-top: 20px;
        display: block;
    }
    .gallery a {
        width: 28%;
        padding: 1%;
        height: 75px;
    }
}
